<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Bloom's taxonomy tool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">contact</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
  <br/>
  <div class="jumbotron">
    <p style="font-size:140%">
      This tool provides Bloom's taxonomy analysis for given file.<br>
      File <b>must be</b> in .txt format and in English<br>
      Punctuation and common words are removed during processing. <br>
      <br>
      By level 1 meant querries:<br>
      <b>Knowledge :</b> write, list, label, name, state, define <br>
      <b>Comperhension :</b> explain, summarize, paraphrase, describe, illustrate<br>
      <b>Application :</b> use, compute, solve, demonstrate, apply, construct <br>
      <b>Analysis :</b> analyze, categorize, compare, contrast , separate <br>
      <b>Synthesis :</b> create, design, hypothesize, invent, develop <br>
      <b>Evaluation :</b> judge, recommend, critique, justify <br>
      <br><br>
      By level 2 meant querries:<br>
      <b>Knowledge :</b> select, outline, write, list, recite, state, name, repeat, identify, locate, label, draw , record <br>
      <b>Comperhension :</b> explain, describe, relate, estimate, paraphrase, confirm, convert, match, compare, discuss, predict, infer  <br>
      <b>Application :</b> construct, apply, modify, build, prioritize, report, sketch, produce  <br>
      <b>Analysis :</b> analyze, categorize, compare, sort, investigate, debate, differentiate, examine <br>
      <b>Synthesis :</b> compose, combine, design, generate, hypothesize, formulate, originate, invent, revise    <br>
      <b>Evaluation :</b> judge, justify, conclude, prioritize, rate, criticize, assess, appraise, critique  <br>
      <br><br>
      By WIKI meant chart taken from Wikipedia according to querries are:<br>
      <b>Knowledge :</b> select, list, name, define, describe, memorize, label, identify, locate, recite, state, recognize  <br>
      <b>Comperhension :</b> match, restate, paraphrase, rewrite, example, express, explain, defend, distinguish, summarize, interrelate, interpret, extend  <br>
      <b>Application :</b> organize, generalize, dramatize, prepare, produce, choose, sketch, apply, solve, draw, show, paint <br>
      <b>Analysis :</b> compare, analyze, classify, point out, distinguish, categorize, differentiate, subdivide, infer, survey, select, prioritize   <br>
      <b>Synthesis :</b> compose, originate, hypothesize, develop, design, combine, construct, produce, plan, create, invent, organize <br>
      <b>Evaluation :</b> judge, relate, weight, criticize, support, evaluate, consider, critique, recommend, summarize, appraise, compare  <br>
    </p>


</div>

</div>
  </div>
</body>
</html>
